.container {
  border: 1px solid #76b5c5;
  padding: 6px;
  box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-image: url(../../assets/bg_3.jpg);
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 480px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .span {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 10px 26px;
  }

  .span {
    font-size: 24px;
  }
}
