.contactWrapper {
  outline: 1px solid grey;
  margin-bottom: 18px;
  padding: 4px 16px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-form);
}

.icon {
  margin-right: 16px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form {
  padding: 8px;
  border: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-form);
}

.labelWrapper {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}

.lable {
  text-shadow: var(--text-shadow-label);
}

.field {
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  padding: 8px;
  margin-right: 14px;
  box-shadow: var(--box-shadow-input);
}

.btnWrapperModal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .form {
    width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 520px;
  }
}
