.container {
  max-width: 800px;
  border: 1px solid #76b5c5;
  margin: 20px auto;
  padding: 14px 20px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.text {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  background-color: #a1b6eb;
  border-radius: 10px;
  padding: 8px 12px;
}

.span {
  color: #e84a5f;
  font-weight: 700;
}
.span:hover {
  cursor: pointer;
  color: blue;
}
